name: CMake on Ubuntu Latest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install package dependencies
      run: sudo apt-get install -y libgl1-mesa-dev qt6-base-dev libasound2-dev libboost-json1.83-dev

    - name: Run CMake Release Workflow
      run: cmake --workflow --preset release
